<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devicefaker">

    <application
        android:label="DeviceFaker"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Fake device profile"/>
        <meta-data
            android:name="xposedminversion"
            android:value="93"/>
    </application>
</manifest>
